body {
    font-size: 1.1em;
    line-height: 1em;
    font-family: 'ptans', arial, sans-serif;
      
    text-transform: uppercase;   
    background-color: rgba(206, 204, 204, 0.815);
}

.container {
    background-color: #fff;
    margin: 0 auto;       
    max-width: 1200px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   
}

 .header-container,
 .content, 
 .footer{      
    background-color: white;    
}

.font-brown {
    color: brown;

}

.font-white {
    color: white;
}

/* Header */



.main-navigation {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    grid-column-gap: 3em;
    text-align: center;
    align-content: end;
    padding-left: 2em;
      
        
} 

.grid-item {
    padding-top: 1em;
    padding-bottom: 1em;
    }
 
.logo-img  {
    background: url("img/background-logo.png") no-repeat 50% 50%;
    margin-bottom: -40px;  
    border-radius: 35px;  
    height: 70px;     
    }


.main-navigation:last-child {
    margin-right: 0;
}

.main-navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main-navigation a:hover {
    color: rgb(142, 169, 194);
}  

.main-navigation a:active {
    color: rgb(167, 162, 162);

}

/*content */

.main-picture {
    background-image: url("img/main-photo.png");
    height: 30em;
    
    background-size: 100%;    
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: repeat (5, 1fr); 
    
    
}


.welcome {
    background-image: url("img/hotels/welcome.png");
    background-repeat: no-repeat; 
    background-position: 50% 50%;
}

.main-picture .dashed {
    background-image: url("img/hotels/th-the.png"), url("img/hotels/slashes.png");
    background-repeat: no-repeat; 
    background-position: 50% 50%;
    }

.sedona {
    background-image: url("img/Sedona.png");
    background-repeat: no-repeat; 
    background-position: 50% 50%;
        
}

.quote {
    background-image: url("img/because.png");
    background-repeat: no-repeat; 
    background-position: 50% 100%;
}

.gap {
    background-image: url("img/gap.png");
    background-repeat: no-repeat; 
    background-position: 50% 100%;
    background-size: 100%;
}

.promo-1 {
    
    text-align: center;    
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    height: 10em;
}

.promo-1 h3 {
    margin: 4em auto;
    width: 40%;
    text-align: center;
    margin-bottom: 0.2em;
          
}

.features-1 {
    display: grid;
    grid-template-columns: 33% 67% repeat( auto-fit, minmax(250px, 1fr) );
    margin-top: 1em;
    
        
}

.features-text {
    background-color: rgb(142, 169, 194);
    text-align: center;

}

.features-text h3 {
    padding: 2em 0 1em 0;
}

.features-text p:last-child {
    padding: 1em 2em 2em 2em;    
} 

.features-text .dashed::before,
.recomendation-block .dashed::before {
    content: "-";
    width: 1em;
    padding-right: 0.2em;
}

.features-text .dashed::after,
.recomendation-block .dashed::after {
    content: "-";
    width: 1em;
    padding-left: 0.2em;
}

.features-1 .features-image {
    background: url("img/photo1.png") no-repeat;
    background-size: cover;
}

.features-2 {
    display: grid;
    grid-template-columns: 67% 33% repeat( auto-fit, minmax(250px, 1fr) );
        
}

.features-2 .features-image {
    background: url("img/photo2.png") no-repeat;
    background-size: cover;
}

.recomendation {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    
    grid-column-gap: 1em;
    padding-top: 1em;
            
}

.recomendation-block {
    text-align: center;    
    margin: 1em 1em 2em 1em;
    }

.recomendation-block p, 
.recomendation-block h3 {
    padding: 0.2em;
}    

.background-grey {
    background-color: rgb(211, 207, 207);
}



/*Booking*/

.booking {
    margin-top: 1em; 
    position: relative; 
}

.booking-promo {    
    height: 15em;
    text-align: center;
    padding-top: 2em;
}

.booking-promo p {
    padding-top: 2em; 
    width: 35em;
    margin: auto;
}

.booking-promo h2 {
    font-weight: bold;
}

.booking-form {
    width: 40%;
    background-color: #fff;  
    font-weight: bold;  
    position: absolute;   
    left: 30%;
    top: 14.3em;  
}


.booking-form-hide{
    display: none;
}

.booking-form-show {
    display: block;
    
}

.booking-form input{
    background-color: rgb(211, 207, 207);
    border-style: none;
    height: 3em;
    margin: 1em 2em 0.5em 1em;
}

.from-to {
    display: grid;
    grid-template-columns: 25% 75% repeat( auto-fit, minmax(250px, 1fr) );        
    text-align: center;
    font-size: 1em;
        
}



.adults-children {
    display: grid;
    grid-template-columns: 50% 50% repeat( auto-fit, minmax(250px, 1fr) );
    margin-top: 0.2em;
    padding-left: 2em; 
}

.adults-children p {
    width: 15%;
    margin-right: 0;
}

.adults-children .block {
    display: inline-block;
}

.span {
  
   background-color: rgb(211, 207, 207);
   padding: 0;
   height: 30px;
   width: 40px; 
   
  
}

.adults-children input {
    padding: auto;
    width: 15px;
    height: 15px;
    font-weight: bold;
   
}

.minus, 
.plus {
    width: 20px;
    height: 20px;
    color: rgb(143, 141, 141);
    font-size: 1.1em;
    text-align: center;
}


.search-accommodation {    
    background-color: rgb(105, 89, 77);    
    color: white;
    text-align: center;
    height: 4.5em;
    width: 40%;
    text-transform: uppercase;
    margin: 2em auto;
    border: none;   
    font-weight: bold;
}

.search-accommodation:hover {
    background-color: rgb(90, 78, 68);
    
}

.search-accommodation:active {
    background-color: rgb(54, 47, 41);
    color: rgb(189, 188, 188);
    outline: none;
}

.search-button {
    display: grid;
    grid-template-rows: 100% repeat( auto-fit, minmax(250px, 1fr) );
                
}

.search-button input {    
    color: white;
    background-color: rgb(142, 169, 194);
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase; 
    margin: 2em;
    outline: none;
}

.search-button input:hover {
    background-color: rgb(112, 152, 190);
}

.search-button input:active {    
    color: rgb(209, 204, 204);
    background-color: rgb(103, 142, 179);
    outline: none;
}

.map {
    margin-top: 2em;
}

/* Footer */

.footer {
    border-top: 0.1em solid #000;
    background-color: rgb(211, 207, 207);
    height: 5em;
    
}



/*Hotel page */

.search,
.sort,
.hotels {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
}

.search {
    height: 15em;
    background-image: url("img/hotels/main-hotels.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.search-form {       
    margin: 1em 4em;          
}

.search-form form {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); 
    color: white;
    padding: 1em;
    justify-self: start;
}

/*check boxes*/

.checkbox {
    display: none;
}

.search-form form span::before {
    content: "\00A0";
    display: inline-block;
    box-sizing: border-box;
    width: 24px; 
    height: 24px;
    margin: 1em 1em 1em 0px;       
    border: 2px solid rgb(255, 255, 255);    
    vertical-align: baseline;      
    }

.checkbox[type=checkbox]:checked  {
    content: "\2714";
    text-align: center;    
    color: white;
   
    }


/* Price filter */



.range-filter {    
    width: 15em;
    
}

.range-controls {    
    position: relative;
    margin-bottom: 1.5em;
    padding: 0 30px;
    height: 5em;
    background-color: rgb(223, 217, 217);
    border-radius: 0.2em;
    overflow: hidden;
    
}

.range-controls .scale {
    margin-top: 2.4em;
    height: 0.2em;
    color: rgba(238, 226, 226, 0.534);
    width: 16em;
    padding: auto;

}

.range-controls .bar {
    height: 0.2em;
    background-color: green;
}

.range-controls .toggle {
    width: 0.5em;
    height: 0.5em;
    border: 0.4em solid white;
    background: #ababab;
    position: absolute;
    top: 1.9em;
    left: 1.2em;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
    left: 8em;
}

.price-controls {
    border: 0.1em solid white;
}

.price-controls input {
    display: inline;
    width: 20%;
    background: none;
    border: none;
    color: white;
    font-size: 1.0em;   
    text-align: center; 

}

.min-price {
    border-left: 1px solid white;
}

.sort {
    display: grid;
    grid-template-columns: 20% 75% 5% repeat( auto-fit, minmax(250px, 1fr) );    
    border-bottom: 1px solid rgb(224, 218, 218);
}

.found {
    padding: 1em 4em;
}

.sorting-left-container  {
    padding-top: 2em;
           
}

.sorting-left-container table tr td {
    padding-right: 3em;
    text-transform: none;
    text-decoration: dotted;

}

.sorting-left-container table tr td:first-child {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.sorting-left-container table tr td a:active {
    color: darkcyan;
    
}



.sorting-right {
    position: relative;
}

.sorting-right div {
    position: absolute;
}

.point-up {
    top: 50%;
}

.point-down {
    top: 30%;
    right: 30%;
}



.hotel-short-info {
    padding: 2em 4em 2em 4em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 15% 70% 15% repeat( auto-fit, minmax(250px, 1fr) );
    }

.hotel-photo {
    align-self: center;
    /* background: url('img/hotels/hotel-1.png');
    background-size: cover; */
        
}

.hotel-description h2 {
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}

.name-price tr td {
    padding-right: 2em;
    padding-bottom: 1em;
}

.more,
.book {
    color: white;
    text-align: center;
    padding-top: 0.4em;
    font-weight: normal;
    width: 5em;
    display: inline-block;
    
    height: 1.2em;

}

.hotels-buttons {
    
}


.more {    
    background-color: rgb(142, 169, 194);
        

}

.book {
    background-color: rgb(105, 89, 77);    
    
}

.rating-star {
    padding: 1em 2em 1em 0.5em;    
}

.rating-value {
    padding: 1em 1em 1em 0;
}

@font-face {
    font-family: 'ptansbold';
    src: url('fonts/ptsansbold.woff') format('woff');
    src: url('fonts/ptsansbold.woff2') format('woff2');
    font-weight: normal;
    font-style: capitalize;
}


@font-face {
    font-family: 'ptans';
    src: url('fonts/ptsans.woff') format('woff');
    src: url('fonts/ptsans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}




